@import '@styles/_colors.scss';

.results {
    height: 100%;
    overflow: auto;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 0 .5rem;

    &::-webkit-scrollbar {
        width: .7em;
        transition: background-color .3s;
        cursor: pointer;
    }
     
    &::-webkit-scrollbar-track {
        background-color: $bg-color;
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-color;
      border-radius: .35em;

      &:hover {
          background-color: $scrollbar-hover-color;
      }
    }

    &__card {
        width: 25%;
        min-width: 200px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        cursor: pointer;
        transition: background-color .3s;
        padding: 1rem;

        &:hover {
            background-color: $nav-color;
        }

        &_info {
            font-size: .7rem;
            color: #666;
            display: flex;

            span {
                display: block;
                margin: 0 .3rem;
            }

            a {
                text-decoration: none;
                color: inherit;
                transition: color .3s;
                &:hover {
                    color: #dadada;
                }
            }
        }
    }
}